<!-- Header -->
<div class="text-center mb-8">
  <a href="/">
    <img src="/images/logo-whatsback-banner.png" alt="Whatsback Banner" class="mx-auto w-1/2">
  </a>
  <!-- Dark/Light Mode Toggle -->
  <button
    id="theme-toggle"
    class="mt-4 px-3 py-2 rounded-full bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 fixed top-5 right-7"
  >
    <i id="theme-icon" class="fas fa-moon text-gray-800 dark:text-gray-200"></i>
  </button>
</div>
